name: Build
permissions:
  contents: read
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory # Directory where build-wrapper output will be placed
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Run Build
        run: |
          mkdir build
          cmake --version
          cmake -S . -B build -DCODE_COVERAGE=ON -DSAMPLE_CPP_BUILD_TESTING=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          cmake --build build/ --config Release
      - name: Run gcov to translate `.gcda` files into `.gcov` readable by humans and SonarCloud
        run: |
          mkdir coverage-dir
          cd coverage-dir
          find .. -name '*.o' | xargs gcov --preserve-paths
          cd ..
      - name: Official SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # Put the name of your token here
        with:
          args: >
            --define sonar.cfamily.compile-commands=build/compile_commands.json
            --define sonar.cfamily.gcov.reportsPath=coverage-dir
